body {
  margin: 0;
}

#root {
  height: 100%;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

.App {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(159, 225, 254, 0.4) 0%,
    #cc8bff 100%
  );
}
