.container {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
}

.form-container {
  background: #ffffff;
  margin: auto;
  width: 400px;
  height: 500px;
  left: 1000px;
  top: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 60px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.5);
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-control div {
  border-radius: 20px;
}

.form-control > .MuiFormControl-root {
  width: 100%;
}

.form-title {
  font-size: 55px !important;
  margin-bottom: 30px !important;
}

.forgot-link {
  cursor: pointer;
  font-size: small;
  margin-bottom: 40px;
  margin-top: 10px;
}

.submit-button {
  width: 50%;
  height: 40px;
}

.sign-up-link {
  cursor: pointer;
  margin-top: 50px;
  font-weight: bold;
}
